// Define variables for your color scheme


$lagoon: #45EBA5;
$sage: #21ABA5;
$dark-blue: #163A5F;

// Player colors:
$pastel-red: #fcb3b3;
$pastel-blue: #b3c9fc;
$pastel-yellow: #fcf1b3;
$pastel-green: #b3fcc7;
$pastel-cyan: #b3fcfb;
$pastel-pink: #fcb3e1;

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
