<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gotcha !</title>
</head>
<body>
  <h1> Vous n'avez besoin que de votre imagination ! </h1>
    <h2>Choix du pseudo</h2>
<!-- -le simple form du pseudo -->
<%= simple_form_for(@avatar) do |f| %>
  <%= f.input :name %>
    <h2>Choix de l'avatar</h2>
  <%= f.input :url %>
  <%= f.submit %>
<% end %>
<!-- carroussel avec 6 avatars -->
  <div class="carousel">
    <!-- Carousel items (placeholders) -->
    <div class="carousel-item">Avatar 1</div>
    <div class="carousel-item">Avatar 2</div>
    <div class="carousel-item">Avatar 3</div>
    <div class="carousel-item">Avatar 4</div>
    <div class="carousel-item">Avatar 5</div>
    <div class="carousel-item">Avatar 6</div>
  </div>

      <p>rejoindre une partie publique</p>
      <p>Créer une partie privée</p>
    <h2>Comment jouer ?</h2>
</body>
</html>
