<%# # en tant qu'utilisateur je peux voir la question %>

<div class = "container">
    <h1>Invente une réponse à la question</h1>
  <div class= "question-card">
    <p>Question</p>
    <p><%= @question.question %></p>
  </div>
  <br>
      <%# # donner ma réponse à la question %>
    <div data-controller="submit-automatic">
      <%= simple_form_for([@game, @question, @proposal], data: {submit_automatic_target: "form" }) do |f| %>
        <%= f.input :proposal, input_html: { class: "user-input",placeholder:"Ta super proposition" } %>
        <% f.submit %>
      <% end %>
    </div>
</div>
