<%# # en tant qu'utilisateur je peux voir la question %>

<div class = "container">
  <h1 id= "question-new-titre">Invente une réponse à la question</h1>
  <div class= "question-card">
      <h1>Question</h1>
    <p><%= @question.question %></p>
  </div>
<br>
<p>Tu as 20 secondes pour répondre</p>
<%# # donner ma réponse à la question %>
<div data-controller="submit-automatic">
  <%= simple_form_for([@game, @question, @proposal], data: {submit_automatic_target: "form" }) do |f| %>
    <%= f.input :proposal %>
    <% f.submit %>

  <% end %>
  </div>
</div>
