<%# # en tant qu'utilisateur je peux voir la question %>

<div class = "container">
  <h1><%= @question.question %></h1>
<br>
<%# # donner ma réponse à la question %>
<div data-controller="submit-automatic">
  <%= simple_form_for([@game, @question, @proposal], data: {submit_automatic_target: "form" }) do |f| %>
    <%= f.input :proposal %>
    <% f.submit %>
  <% end %>
</div>
