.button-primary {
  display:flex;
  height: 50px;
  width: 200px;
  justify-content: center;
  border-radius: 60px;
  background: $lagoon;
  color: $dark-blue;
  font-size: 15px;
  font-weight: bold;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  text-decoration: none;
  align-items: center;
}

#btn-tuto{
color: white;
height: 15px;
width: 15px;
border-radius: 50%;
margin-right: 5px;
margin-left: 5px;
}

.btn-clipboard{
  background-color: $dark-blue;
  border: none;
  margin-left: 4px;
}

.button-secondary{
  text-decoration: none;
  color: white;
  font-size: 15px;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 17px;
}

.button-third{
  text-decoration: none;
  color: white;
  font-size: 15px;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 17px;
}
