.user-input {
  border-radius: 60px;
  border: 1px solid var(--Grey, #BBB);
  background: var(--White, #FFF);
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  line-height: normal;
  color: black;
  height: 37px;
  margin-bottom: 30px;
}
