.navbar-lewagon {
  justify-content: space-between;
  background: $dark-blue;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  color: white
}

.nav-item .avatar img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}

.navbar-brand img{
  width: 88px;
  height: 60px;
}

.navbar-toggler {
  border-color : $dark-blue;
  text-decoration: none;
}

.button {
  color: white;
}
