#container-player-cards{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}

.pseudo{
  display: flex;
  color: $dark-blue;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
}

.pseudo-score{
  display: flex;
  color: $dark-blue;
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
}

.player-card {
  position: relative;
}
.player-card svg {
  position: absolute;
  top: -10px;
  left: -20px;
  width: 40px;
  height: 40px;
}
.player-card img{
  border-radius: 50%;
  width: 90px;
  height: 90px;
  margin-left: 25px;
  margin-right: 10px;
}

.pastel-red{
  border-radius: 10px;
  display: flex;
  background-color: $pastel-red;
  width: 90%;
  height: 100px;
  align-items: center;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
}

.pastel-blue{
  border-radius: 10px;
  display: flex;
  background-color: $pastel-blue;
  width: 90%;
  height: 100px;
  align-items: center;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
}

.pastel-yellow{
  border-radius: 10px;
  display: flex;
  background-color: $pastel-yellow;
  width: 90%;
  height: 100px;
  align-items: center;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
}

.pastel-green{
  border-radius: 10px;
  display: flex;
  background-color: $pastel-green;
  width: 90%;
  height: 100px;
  align-items: center;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
}

.pastel-cyan{
  border-radius: 10px;
  display: flex;
  background-color: $pastel-cyan;
  width: 90%;
  height: 100px;
  align-items: center;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
}

.pastel-pink{
  border-radius: 10px;
  display: flex;
  background-color: $pastel-pink;
  width: 90%;
  height: 100px;
  align-items: center;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
}
