.choice-card {
  border: 5px solid #21ABA5;
  background-color: #21ABA5;
  border-radius: 10px;
  display: flex;
  width: 90%;
  min-height: 66px;
  height: fit-content;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
  color: white;
  list-style: none;
  font-family: 'Quicksand', sans-serif;
  font-size: 22px;
  padding: 10px;
  position: relative;
}

.choice-card.pastel-yellow {
  border: 5px solid #fcf1b3;
}

.choice-card.pastel-red {
  border: 5px solid #fcb3b3;
}

.choice-card.pastel-blue {
  border: 5px solid #b3c9fc;
}

.choice-card.pastel-green {
  border: 5px solid #b3fcc7;
}

.choice-card.pastel-cyan {
  border: 5px solid #b3fcfb;
}

.choice-card.pastel-pink {
  border: 5px solid #fcb3e1;
}

.choice-card.good-answer {
  border: 5px solid #45EBA5;
  background-color: #45EBA5;
  color:#163A5F;
}


.submit {
  // border: 5px solid #21ABA5;
  // background-color: #21ABA5;
  border-radius: 10px;
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  color: white;
  list-style: none;
  font-family: 'Quicksand', sans-serif;
  font-size: 22px;
  padding: 0px;
  white-space: wrap;
}

.submit:active {
  border: solid $lagoon;
}

.submit:hover {
  border-color: white;
}
